docs/
report.aux
report.log
report.out
report.toc
report.fdb_latexmk
report.fls
report.synctex.gz
src/.*
slides.aux
slides.log
slides.nav
slides.out
slides.snm
slides.synctex.gz
slides.toc
slides.fdb_latexmk
slides.fls
slides.vrb

